*
{
	box-sizing: border-box;
}
.about-me {
  text-align: center;
}

.panel-footer {
  margin: 0;
  padding: 0;
  border: none;
}

.panel-footer h3 {
  padding: 0px 2px;
  margin: 5px 0px;
  color:#CFB53B;
}


#ft-row2 {
  background-color: #1A1A1A;
  margin:0 -10.5rem;
  padding: 0 10.5rem 0.75rem;
}

.cpright {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #A47F1A;
  font-size: 12px;
  font-weight: 400;
  margin: 0 -2rem;
  padding:0rem 2rem ;
}


.jumbotron{
  background: url(../images/image1.jpg);
  text-align: center;
}
#prgprofile{
  list-style: none;
  font-size: 17px;
}
#prgprofile a{
  display: inline-block;
  margin:0 -15px;
}
#pg{
  font-size: 30px;
}

.textjustify{
  font-size: 16px;
}

#header-nav {
  background-color: #1A1A1A;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  padding-bottom: 10px;

}

.navbar-brand {
  padding: 10px 5px 5px 5px;
  line-height: 5px;
  height: 30px;
}

#logoimage {
  font-weight: bold;
  font-size: 30px;
  color: white;
 height: 42px;
}

.navbar-brand h2 {  
  font-weight: 700;
  color:#E6E6E6;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px 0px 0px 0px;
}


#nav-list {
  margin-top: 5px;
}


#nav-list a {
  color: #E6E6E6;  
  text-align: center;
  line-height: 10px;
  padding: 8px 15px 15px 15px;
}

#nav-list a:hover {
  text-decoration: none;
  color:#CFB53B;
}

#nav-list-right a {
  padding: 7px 5px 7px 5px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #DDCDB5;
  background: #CFB53B;
}

#hdrbrdr {
  background: url(../images/ftr11.png) repeat-x;
  margin: 0 -9999rem; /* stretch beyond container */  
  padding: 0rem 9999rem; /* add back negative margin value */
}

#education{
  text-align: center;
}
